body {
  margin: 0;
  background-color: #121212;
  color: #ffffff;
  overflow: hidden; 
}

div {
  width: 100px;
  height: 100px;
  background-image: url("mice.png");
  background-size: contain;
  background-repeat: no-repeat;
  position: relative;
  top: 0;
  left: 0;
  cursor: grabbing;
  animation: mice 5s infinite alternate both;
  filter: drop-shadow(0 0 10px #ffeb3b); /* Yengil sariq nurlanish */
}

div:hover {
  animation-play-state: paused;
}

div:active {
  transform: scale(0.8) rotate(370deg);
  transition: transform 0.3s ease;
  filter: drop-shadow(0 0 20px #ff5722); /* Bosilganda qizg'ish nur */
}

@keyframes mice {
  0% {
    top: 0;
    left: 0;
  }
  25% {
    top: 200px;
    left: 400px;
  }
  50% {
    top: 400px;
    left: 0;
  }
  75% {
    top: 600px;
    left: 800px;
  }
  100% {
    top: 0;
    left: 1200px;
  }
}
